* {
  box-sizing: border-box;
}

body {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 0;
}
.teampage {
  margin: 70px;
}

.head {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 0 15px 90px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 140px;
  margin: auto;
}

.pic {
  /* width: 200px;
  height: 100px; */
}
img {
  height: 200px;
  width: 140px;
}
/* img ::after { 
  content: "production owner";
  background-color: yellow;
  color: red;
  position:absolute;
  font-weight: bold;
  transform: rotate(90deg);

} */
/* 
#pic1::after{
  content: "production";
  background-color: black;
  position:absolute;
  width: 2000px;
  height: 1000px;
} */

#pic2,
#pic5 {
  margin-top: 85px;
}

/* #position {
  transform: rotate(90deg);
  position: absolute;
  left: 190;
} */

#name {
  font-weight: bold;
}
footer {
  width: 100%;
  text-align: center;
  background-color: #cccccc;
  font-size: 13px;
}

/* .grid1,
.grid2,
.grid3 {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 25px;
}
.grid2 {
  margin-top: 80px;
  grid-row-gap: 30px;
} */

@media only screen and (max-width: 600px) {
  .head {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    margin: 0 0 15px 90px;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    margin: auto;
  }

  #pic4,
  #pic6 {
    margin-top: 85px;
  }
  #pic5 {
    margin-top: -20px;
  }
}
